form{
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
#add{
    width: 100px;
} 
#get{
  width: 100px;
}
body{
  background-color: aliceblue;
}
.container{
  border: 2px solid rgb(175, 178, 180);
  border-radius: 5px;
}