body{
    font-family: Arial, Helvetica, sans-serif;
}
.nav-item{
    text-decoration: none;
    color: white;
}
.img{
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(1px);   
}
.centered{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
form{
    display: none;
}
.form-control{
    box-shadow: 0 2px 5px 0px rgb(0 0 0 / 16%), 0 2px 10px 0px rgba(22, 22, 22, 0.12);
    border: 1px solid rgb(5, 61, 124);
}
.modal{
    margin-left: 38%;
    margin-top: 50px;
    block-size: auto;
    transition-duration: 0.7s;
    display: inline !important;
    height: 470px;
}
.modal-content{
    background-color: rgb(103, 151, 190);
    position: fixed;
}
.modal-title{
    font-weight: bolder;
}
.modal-backdrop{
    background-color: rgba(227, 238, 238, 0.671);
    z-index: 0;
}
#submit{
    width: 100px;
    float: left;
}
#close{
    width: 100px;
    float: right;
}
#foot{
  background-color:  #cdd8e5 !important;
}
.fa {
    padding: 8px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50px;
  }
  .fa:hover {
      opacity: 0.7;
      color: azure;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-github {
    background: #000000;
    color: white;
  }
  .card{
    background-color: #d3e6f4;
  }
  .slick-track {
    margin-bottom: 13px;
  }
  .slick-prev {
    left: -21px;
    background-color: darkgray;
    border-radius: 6px;
  }
  .slick-prev:before {
    font-size: 18px;
    line-height: 1.1;
    color: white;
  }
  .slick-prev.slick-disabled:before {
    opacity: 1.25;
  }
  .slick-next {
    right: -21px;
    background-color: darkgray;
    border-radius: 6px;
  }
  .slick-next:before { 
    font-size: 18px;
    line-height: 1.1;
    opacity: 1.25;
    color: white;
  }
