body{
    font-family: Arial, Helvetica, sans-serif;
}
.nav-item{
    text-decoration: none;
    color: white;
}
.img{
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(1px);   
}
form{
    display: none;
}
.form-control{
    box-shadow: 0 2px 5px 0px rgb(0 0 0 / 16%), 0 2px 10px 0px rgba(22, 22, 22, 0.12);
    border: 1px solid rgb(5, 61, 124);
}
.modal{
    margin-left: 38%;
    margin-top: 50px;
    block-size: auto;
    transition-duration: 0.7s;
    display: inline !important;
    height: 470px;
}
.modal-content{
    background-color: rgb(103, 151, 190);
    position: fixed;
}
.modal-title{
    font-weight: bolder;
}
.modal-backdrop{
    background-color: rgba(227, 238, 238, 0.671);
    z-index: 0;
}
#submit{
    width: 100px;
    float: left;
}
#close{
    width: 100px;
    float: right;
}

